# Gradle cache folder
.gradle

# Idea configuration folder
.idea

# Kotlin cache folder
.kotlin

# Build output folder
.build
shared/build

# Local properties
local.properties

# Node modules
site/node_modules

# Svelte Kit cache folder
site/.svelte-kit